@media only screen and (max-width: 600px) {
  .service {
    margin: 0 15px;
    margin-top: 10px;
   
  }

  
}






@media only screen and (max-width: 600px) {
  .strategy {
    padding: 10px;
   
  }

  
}



@media only screen and (max-width: 600px) {
  .resize {
    width: 350px;
   
  }

  
}




