@media only screen and (max-width: 600px) {
  .choose {
    margin: 0 15px;
    margin-top: 10px;
    margin-bottom:20px;
   
  }

  
}


@media only screen and (max-width: 600px) {
  .experience {
   
    margin-top: 10px;
    margin-bottom:20px;
    padding: 10px;
    width:350px;
    gap:40px;
   
  }

  
}


@media all and (min-width:768px){
  .experience {
   
    margin-top: 10px;
    margin-bottom:20px;
    padding: 10px;
    width:680px;
    gap:40px;
  }    
}

