@media only screen and (max-width: 600px) {
    .choose {
      margin: 0 15px;
      margin-top: 10px;
      margin-bottom:20px;
     
    }
 
    
  }


  @media only screen and (max-width: 600px) {
    .experience {
     
      margin-top: 10px;
      margin-bottom:20px;
      padding: 10px;
     
    }
 
    
  }


 .about {
  opacity: 0;
  transform: translateY(0px); 
  transition: opacity 2s cubic-bezier(0.25, 0.1, 0.25, 1), transform 2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.about.entered {
  opacity: 1;
  transform: translateY(0);
} 


