@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20%);
  }
}

.menu-open {
  animation: slideDown 0.3s ease-in-out forwards;
}

.menu-close {
  animation: slideUp 0.3s ease-in-out forwards;
}




@keyframes hamburgerSlideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hamburgerSlideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}




@media only screen and (max-width : 1024px) {
  .hamburger-menu-open {
    animation: hamburgerSlideDown 0.3s ease-in-out forwards;
  }
}



@media only screen and (max-width : 1024px) {
  .hamburger-menu-close {
    animation: hamburgerSlideUp 0.3s ease-in-out forwards;
  }
}




