 
@media only screen and (max-width: 1214px) {
    .menu {
     display:block;
     
     
  }
}







@media only screen and (max-width: 1300px) {
  .large {
   font-size: larger !important;
   
   
}
}



@media only screen and (max-width: 1340px) {
  .right {
   display: block !important;
   
   
}
}



@media only screen and (max-width: 1340px) and  (min-width: 1200px) {
  .right1 {
   display: block !important;
   margin-top: 30px;
   background-color: white;
   
   
}
}
 









@media only screen and (max-width:600px) {
  .six {
   margin-bottom: 30px;
   
   
}
}


 
 @media only screen and (max-width: 1240px) {
  .white {
   
   background-color: white;
   
}
} 