@media only screen and (max-width: 600px) {
    .about {
      position: relative;
      margin: 20px;
     
    }
  }

  


  @media only screen and (max-width: 600px) {
    .pages {
      width:500px ;
      height: 220px;
     
    }
  }

  
  
