@media only screen and (max-width: 600px) {
  .about {
    position: relative;
    margin:0 15px;
    margin-top:10px;
   
  }
}

@media only screen and (max-width: 768px) {
  .cizer {
    margin: 20px !important;
   
  }
}



@media only screen and (max-width: 1110px) {
  .cizer {
    
    margin: 40px;
   
  }
}





@media only screen and (max-width: 600px) {
  .pages {
    width:500px ;
    height: 170px;
    margin-bottom: 40px;
   
  }
}



@media only screen and (max-width: 1300px) and (min-width: 600px) {
  .top{
    margin-top: 100px !important;
  }
}

