



@media only screen and (max-width: 600px) {
  .sized {
    height: 300px;
    width:400px;
   
  }

  
}

@media only screen and (max-width: 600px) {
  .client {
    font-size:18px;
     
    
   
  }

  
}




@media all and (min-width:768px){
  .success{
    height: 400px;
    width: 680px;
  }
  }





  @media all and (min-width:768px){
    .sized{
      height: 500px;
      width: 700px;
    }
    }    
  