



.animation{
  animation:word 1.5s linear ;
 
  overflow: hidden;

}

@keyframes word {
  0%{
    width: 0;
  }
50%{
     width:50px ;
}

  100%{
    width: 250px;
  }
}

.height{
  min-height: calc(100vh - 124px);
}






