
   


@media only screen and (max-width: 1360px) {
  .copyright {
    position:fixed ;
   bottom:0 !important;
   left: 0px !important;
   font-size:13px !important;
   padding-left: 33px !important;
   margin-top: 10px !important;
   margin-bottom: 15px !important;
   
   
}
}




 





 
